#index-perent{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #f1f1f1;
}
*{
	margin: 0;
	padding: 0;
}
.slide{
	max-width: 100%;
	height: auto;
	margin: 0 auto;
	position: relative;
	z-index: 999;
    overflow: hidden;
    margin-bottom: 0px;
}
.slide ul{
	width: 10000%;
	list-style-type: none;
}
.next_btn{
	position: absolute;
	width: 25px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	opacity: .5;
	vertical-align: middle;
	right: 5px;
	top: 50%;
	font-family: arial;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
    font-family: "宋体";
    display: none;
}
.prev_btn{
	position: absolute;
	width: 25px;
	height: 26px;
	line-height: 26px;
	text-align: center;
	opacity: .9;
	vertical-align: middle;
	left: 5px;
	top: 50%;
	font-family: "宋体";
	font-size: 20px;
	font-weight: bold;
    cursor: pointer;
    display: none;
}
.slide ul:after{
	content: '';
	clear: both;
	display: block;
}
.slide ul li{
	float: left;
	text-align: center;
}
.slide ul li img{
	vertical-align: middle;
	max-width: 100%;
}
.slide .circle_btn{
	position: absolute;
	bottom: 15px;
	text-align: center;
	left: 0;
	display: table;
	margin: 0 auto;
	width: 100%;
}
.slide .circle_btn button{
	box-sizing: content-box;
	opacity: .8;
	outline: none;
	border: none;
	padding: 2px 18px;
	background: rgba(255,255,255,.2);
	margin: 2px 5px;
	overflow: hidden;
	transition: all .6s;
	cursor: pointer;
}
@media screen and (max-width:768px) {
    #slide ul li img{
        height: 220px;
        width: 100%;
    }
}

/*走马灯的css  */
#marquee{
    width: 100%;
    height: 2.5rem;
    background-color: white;
}
.trumpet-left{
    display: inline-block;
    height: 2.5rem;
    width: 8%;
    background: url(../img/noticeIco1.gif) no-repeat 5.5rem 0.57rem;
}
.marquee-right{
    display: inline-block;
    width: 85%;
    height: 2.5rem;
    line-height: 2.5rem;
    color: #666666;
}

/* 汪汪安全盒的版本 */
#version-fa{
    width: 100%;
}
.version-top{
    width: 100%;
    height: 145px;
}
.version-top .version-top-info{
    padding: 3rem 0 0 2.5rem;
}
.version-top-info .top-info-01{
    font-size: 26px;
    font-weight: bold;
    color: #2b2b2b;
}
.version-top-info .top-info-02{
    font-size: 18px;
    color: #4b4b55;
}

.version-bootom{
    width: 100%;
}
.version-bootom .version-introduce{
    width: 100%;
}
.version-bootom .version-introduce .introduce-fa{
    height: 330px;
    width: 270px;
    background-color: #fff;
    padding: 0px;
    margin: auto;
    margin-bottom: 2.5rem;
}
.introduce-one{
    font-size: 20px;
}
.introduce-tow{
    font-size: 14px;
}
.location-btn1{
    border-radius: 0%;
    padding: 0.65rem 2rem 0.65rem 2rem
}
.version-introduce td{
    border: 0px;
}
@media screen and (max-width:460px) {
    .version-top-info .top-info-01{
        font-size: 120%;
    }
    .version-top-info .top-info-02{
        font-size: 80%;
    }
}
/* .version-top .version-top-info{
    width: 80%;
    height: 70%;
    margin-top: 5rem;
    padding-left: 2.5rem;
}
.version-top-info .top-info-01{
    font-size: 160%;
    font-weight: bold;
    color: #2b2b2b;
}
.version-top-info .top-info-02{
    font-size: 100%;
    color: #4b4b55;
}
.version-bootom .version-introduce{
    width: 100%;
    padding: 2.5rem 2.5rem 2.5rem 2.5rem;
}
.version-bootom .version-introduce .introduce-fa{
    height: 21.68rem;
    background-color: #fff;
}
.caption{
    width: 100%;
}
.caption .caption-one{
    font-size: 125%;
    margin-top: 1rem;
}
.caption .caption-one,.caption-tow,.caption-theer{
    width: 100%;
}
.caption .caption-tow,.caption-theer{
 color: #6c6c6c;
 font-size: 88%;
}
.thumbnail .caption .location-btn1{
    border-radius: 0%;
}
@media screen and (max-width:1024px){
    .thumbnail img{
        width: 100%;
    }
    .caption .caption-one{
        font-size: 120%
    }
    .caption .caption-one{
        font-size: 88%;
        margin-top: 1rem;
    }
    .caption .caption-tow,.caption-theer{
        font-size: 62.5%;
    }
}

@media screen and (max-width:460px) {
    .version-top-info .top-info-01{
        font-size: 120%;
    }
    .version-top-info .top-info-02{
        font-size: 80%;
    }
} */


/* 视频播放器 */
#video-main{
    width: 100%;
    /* height: 760px; */
    background-image: url("../img/img01.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% 100%;
    padding-top: 85px;
    padding-bottom: 3.5rem;
}
.video-top{
    height: 116px;
    color: #fff;
}
.video-top .video-info2{
    font-size: 22px;
}
.info-list{
    padding: 1.5rem 0.2rem 1rem 0.2rem;
    color: #fff;
}
.info-list .video-name{
    width: 233px;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    border-radius: 25px 0 0 25px;
    margin-top: 1rem;
}
.info-list .video-name:hover{
    background-color: #fff;
    color: #1e50ae;
    font-weight: bold;
    cursor: pointer;
}
.vjs-paused .vjs-big-play-button,
.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block;
}
#player {
    width:80%;
    height: 100%;
}
#player:first-child{
    width:100%;
    height: 400px;
}
@media screen and (max-width:768px){
    .video-top .video-info1{
        font-size: 22px;
    }
    .video-top .video-info2{
        font-size: 17px;
    }
    .video-name{
        margin: auto;
    }
    .video-bottom .info-show{
        height: 482px;
    }
}
.video-bottom .info-show{
    display: none;
    height: 416px;
}
/* #video-main{
    width: 100%;
    background-image: url("../img/img01.jpg");
    background-repeat: no-repeat;
    background-position: center 0;
    background-size: 100% 100%;
    height:  47.55rem;
}
.video-info{
    width: 100%;
    height: 20%;
    color: #fff;
}
.video-info .video-info-fa{
    position:relative;
    left:2.5rem;
    top:4.5rem;
}

.video-play{
    width: 100%;
    height: 80%;
    padding: 3rem 0 3rem 0;
    color: #fff;
}
.m {
    width: 100%;
    height: 100%;
}
#my-video{
    width: 80%;
}
.video-name{
    width: 80%;
    height: 3.5rem;
    line-height: 3.5rem;
    border-radius: 25px 0 0 25px;
    float: right;
    margin-top: 1rem;
}
.video-name:hover{
    background-color: #fff;
    color: #1e50ae;
    font-weight: bold;
    cursor: pointer;
}
.show-info{
    width: 95%;
    height: 75%;
    background-color: #fff;
    color: #666666;
    display: none;
}
.show-info .show-info-one{
    padding:1.5rem 0.2rem 0 2rem; 
}
.show-info .show-info-tow{
    padding:1.5rem 1.5rem 0 0.5rem; 
}

@media screen and (max-width:1000px){
    #my-video{
        width: 100%;
    }
}
@media screen and (max-width:574px){
    .show-info .show-info-one{
        width: 98%;
    }
}
.video-info .video-info-fa .video-info-one{
    font-size: 150%;
    font-weight: bold;
}
.video-info .video-info-fa .video-info-tow{
    font-size: 118%;}

@media screen and (max-width:570px){
    .video-info-fa .video-info-one{
        font-size: 122%;
    }
    .video-info-fa .video-info-tow{
        font-size: 93%;
    }
    .video-info{
        display: none;
    }
    .hover-info .hotver-change{
       float: left;
       margin-left: 2.5rem;
    }
    .show-info{
        width: 100%;
        height: 100%;
        background-color: #fff;
    }
    .show-info .show-info-one{
        padding: 0px;
    }
    .show-info .show-info-tow{
        padding: 1px 23px 0 24px;
    }
    .show-info{
        margin: auto;
    }
} */


/* 公司业务介绍 */
#group-introduce{
    width: 100%;
}
#group-introduce .group-title{
    width: 100%;
    margin: 4.5rem 0 3.5rem 2rem;
}
.group-title .group-title-one{
    font-size: 150%;
    font-weight: bold;
}
.group-title .group-title-tow{
    font-size: 107%;
}
.group-instructions{
    width: 100%;
    padding-right: 3rem;
}
.business-type{
    width: 100%;
    margin-left: 1rem;
    border-left: 5px solid #009fe9;
    padding-left: 12px;
}
.business-type .business-type-one{
    width: 100%;
    color: #09a2e9;
    font-size: 125%;
    font-weight: bold;
}
.business-type .business-type-tow{
    width: 100%;
    font-size: 85%;
    color: #9a9a9a;
}
.business-info{
    width: 100%;
    margin-left: 1rem;
    padding-left: 12px;
    background-color: #fff;
    margin-top: 1rem;
}
.business-info .business-info-one{
    width: 100%;
    padding: 0.8rem 0 1.2rem 0;
}
.business-info .business-info-one .info-one-icon{
    width: 20%;
    display: inline-block;
}
.group-ul-g1{
    padding-left: 2rem;
}
.business-info .business-info-one .info-one-icon{
    padding-left: 15px;
}
.business-info .business-info-one .info-one-icon img{
    width: 40px;
    height: 40px;
}
.business-info .business-info-one .info-one-look{
    width: 76%;
    display: inline-block;
    position: relative;
    top: 1rem;
}
.business-info-one .info-one-look .look-f1{
    font-size: 100%;
}
.business-info-one .info-one-look .look-f2{
    color: #666;
    font-size: 82%;
}
.business-info .business-info-last{
    padding-bottom: 3rem;
}
@media screen and (max-width:1128px){
    .business-info .business-info-one .info-one-icon{
        padding-left: 0px;
    }
    .business-info .info-bottom{
        height: 323px;
    }
}
@media screen and (max-width:812px){
    .business-info-one .info-one-icon{
        display: none;
    }
    .business-info .business-info-one .info-one-icon{
        display: none;
    }
}
@media screen and (max-width:574px){
    .business-info-one .info-one-icon{
        display: inline-block;
    }
    .business-info .business-info-one .info-one-icon{
        display: inline-block;
        padding-left: 1.5%;
    }
    .business-info{
        width: 95%;
        padding-left: 4.5%;
    }
    .group-ul-g2{
        padding-left: 2rem;
    }
    .group-title .group-title-one{
        font-size: 110%;
    }
    .group-title .group-title-tow{
        font-size: 80%;
    }
    #group-introduce .group-title{
        width: 89%;
    }
}
@media screen and (max-width:574px){
    .business-info{
        width: 95%;
        padding-left: 4.5%;
    }
}

/* 公司内部技术展示css */
#technology{
    width: 100%;
    height: 650px;
    background: url(../img/icon14.png) no-repeat;
    background-size: 100% 100%;
    margin-top: 4rem;
}
#technology .technology-top{
    width: 100%;
    height: 20%;
    padding: 3.8rem 0 0 2rem;
}

#technology .technology-bottom{
    width: 100%;
    height: 80%;
}
.technology-top-one,.technology-top-tow{
    width: 85%;
}
.technology-top .technology-top-one{
    font-size: 150%;
    font-weight: bold;
    color: #fff;
}
.technology-top .technology-top-tow{
    font-size: 115%;
    color: #fefefe;
}
.technology-img {
    padding-top: 6%;
}

.technology-img img{
    width: 73.21%;
    margin-left: 13%;
}

.technology-info{
    padding-top: 1.5%;
}
.details-fa{
    width: 85%;
    height: 33.5%;
    background-color: #3c3d45;
    color: #fff;
    padding: 4% 6% 0 4%;
    margin-bottom: 7px;
    border-radius: 1.5%;
}
.details-fa .details-fa1{
    font-size: 115%;
    margin-bottom: 2%;
}
.details-fa .details-fa2{
    font-size: 83%;
}
@media screen and (max-width:574px){
    .technology-img img{
        display: none;
    }
    .details-fa{
        margin: auto;
        margin-bottom: 13px;
    }
    .technology-top .technology-top-one{
        font-size: 136%; 
    }
    .technology-top .technology-top-tow{
        font-size: 106%;
    }
    .technology-info {
        padding-top: 9.5%;
    }
}


/* 公司服务数据分析css */
#data-fa{
    width: 100%;
    height: 250px;
    background-color: #fff;
    color: #666666;
}
#data-fa .date-nums{
    height: 250px;
}
#data-fa .date-nums .date-nums-one{
    width: 106%;
    border-right: 1px solid #e5e5e5;
    margin-top: 25%;
}
.date-nums-one .date-nums-tow{
    width: 103%;
    text-align: center;
    font-size: 45px;
}
.date-nums-one .date-nums-theer{
    width: 100%;
    text-align: center;
    font-size: 70%;
}
.data-main{
    display: none;
}
@media screen and (max-width:574px){
    #data-fa{
        height: 200px;
    }
    .data-group{
        display: none;
    }
    .data-main{
        display: block;
        width: 100%;
        height: 200px;
        background-color: #fff;
        color: #666666;
    }
    .data-one{
        width: 25%;
        height: 200px;
        float: left;
    }
    .data-one .data-tow{
        width: 100%;
        position: relative;
        top: 55px;
       
    }
    .data-one .data-tow .data-theer{
        width: 100%;
        text-align: center;
        font-size: 150%;
    }
    .data-one .data-tow .data-four{
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
}


/* 立即咨询我们css */
#consult-fa{
    width: 100%;
    height: 149px;
    background: url(../img/img01.jpg) no-repeat;
    background-size: 100% 100%;
}
.consult-one{
    width: 100%;
    color: #fff;
}
.consult-one .consult-tow{
    width: 68%;
    display: inline-block;
    font-size: 220%;
    margin-top: 42px;
    text-align: center;
}
.consult-one .consult-theer{
    width: 30%;
    display: inline-block;
}
.consult-one .consult-theer a{
    width: 43.4%;
    height: 3%;
    display: inline-block;
    color: #fff;
    border: 1px solid #fff; 
    text-decoration: none;
    text-align: center;
    line-height: 52px;
}
@media screen and (max-width:860px){
    .consult-one .consult-tow{
        font-size: 120%;
    }
   
}
@media screen and (max-width:574px){
    .consult-one .consult-tow{
        font-size: 108%;
        margin-top: 50px;
    }
    .consult-one .consult-theer a{
        width: 71.4%;
        height: 4%;
        font-size: 94%;
    }
   
}

/* 汪汪安全和使用范围 */
#scope-big{
    width: 100%;
    height: 510px;
    background-color: #fff;
    padding-top: 8%;
}
.scope-img{
    width: 100%;
    padding-top: 5%;
}
.scope-img img{
    width: 94%;
    position: relative;
    left: 7%;
}
.scope-bigs{
    width: 100%;
    height: 340px;
    padding: 0% 5%;
}
.scope-bigs .cope-bigs-one{
    width: 100%;
}
.cope-bigs-one .cope-z1{
    width: 100%;
    height: 48px;
    border-bottom: 1px solid #dfdfdf;
}
.cope-bigs-one .cope-z1 .lable-n1{
    display: inline-block;
    width: 20%;
    height: 48px;
    border-bottom: 2px solid #009fe9;
    text-align: center;
    line-height: 48px;
    color: #009fe9;
}

.cope-bigs-tow{
    width: 100%;
}
.cope-bigs-tow .massage-zero{
    width: 100%;
    height: 80px;
    margin-top: 15px;
}
.massage-zero .massage-name{
    width: 100%;
    height: 23px;
    float: left;
}
.massage-name .span-left,.span-right{
    display: inline-block;
}
.massage-name .span-left{
    float: left;
}
.massage-name .span-right{
    float: right;
}
.massage-zero .massage-info{
    width: 100%;
    height: 52px;
    margin: 5px 0 0 5px;
    color: #666666;
    font-size: 86%;
    padding-left: 0px;
    margin-left: 0px;
    margin-top: 15px;
    padding-top: 29px;
}

@media screen and (max-width:500px){
    .cope-bigs-one .cope-z1 .lable-n1{
        width: 25%;
    }
}
.video-js .vjs-big-play-button{
    position: relative;
    top: 44%;
    left: 42%;
}

