
body {
    background-image: url(../../img/contact1.jpg);
    background-repeat: no-repeat;
}

/*
*   右上导航
*/

.top-nav .nav {
    width: 480px;
    height: 50px;
    background-color: white;
}

.top-nav .nav li {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-nav .nav li:hover {
    color: white;
    background-color: rgba(31, 135, 232, 1);
}

.top-nav .nav a:hover {
    color: white;
}

@media screen and (max-width:402px) {
    .nav-link {
        display: block;
        padding: 1rem 0.5rem;
        font-size: 14px;
    }
}


/*
* 内容
*/

.content {
    margin-top: 150px;
    height: 473px;
    /* background-color: aliceblue; */
}

.card {
    width: 600px;
    height: 100%;
    margin: 0 auto;
    /* text-align: center; */
}

.card-body label{
    /* text-align: left !important; */
}

.card-body a {
    width: 200px;
}

/*
* footer
*/

footer {
    /* width: 100vw; */
    /* height: 271px; */
    /* color: white; */
    margin-top: 100px;
    background-color: #2b2b2b;
}

footer .row {
    position: relative;
}

footer h6 {
    /* position: relative; */
    font-size: 14px;
    padding: 90px;
    margin-bottom: 0;
    color: rgb(222, 222, 222);
}

footer .row::after {
    position: absolute;    
    bottom:0;
    left: 0;
    content: '';    
    width: 100%;    
    border-bottom: solid  rgb(53, 53, 53) 1px;
}

footer span {
    font-size: 14px;
    padding: 20px 0;
    color: rgb(169, 169, 169);
}